<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		startup prophet
	</title>
	<style>
		body {
			background-image: url('amma1.png.png');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
</head>
<body   link="#000" alink="#017bf5" ulink="#000">
	<br />
    <h3 align="center">
		<p face="Lato" size="6"></p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</h3>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<h1 align="center">
		<font face="Lato" color="#017bf5" size="7">
			STARTUP PROPHET
		</font>
	</h1>
	<h3  align="center">
		<font face="Lato" color="#000" size="5">
			WE WILL PREDICT WHETHER THE STARTUP IS SUCCESS OR FAILURE
		</font>
		<p face="cinzel" size="4">
			<button><a href="http://127.0.0.1:5000/predict">PREDICT</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
			<button><a href="http://127.0.0.1:5000/about">ABOUT</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
		</p>
	</h3>
	<br />
</body>
</html>