<html lang="en">
   <head>
       <title>startup prophet</title>
       <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
       <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
       <style>
        body{
            background-image: url('amma1.png.png');
            background-size: cover;
        }
       </style>
   </head> 
    <body text="white">
        <button><a href="http://127.0.0.1:5000/predict">Back</a></button><br><br><br>
        <h1 align="center">
        <font  size="7">THE STARTUP ORGANIZATION IS</font></h1><br>
        <h2><font color="#000" >{{pred}}</h2>
        <py-script size="4" src=""C:\Users\kiran\OneDrive\Desktop\startupprophet\flask\app.py""></py-script><br><br><br><br><br><br><br>
        <h3 align="center"><font align="center" size="5">Thank you!</font></h3>
             
    </body>
</html>